<%- include('../partials/header.ejs')%>

    <div class="main">
        <h1>Edit Group</h1> <br><br>
        <img src="/images/edit.png" alt="edit icon" class="signUpImageLeft">
        <img src="/images/edit.png" alt="edit icon" class="signUpImageRight">
        <p class="editHeader">Change your group's name below!</p> 
        <form class="forms editGroup" method="POST" action="/groups/<%=group.id%>?_method=PUT">
            <table>
                <tr>
                    <td><label for="name" ><b>Group Name:</b></label></td>
                    <td><input type="text" id="name" name="name" value = "<%= group.name%>" class = "fixed-width" required></td>
                </tr>
                <tr>
                    <td colspan="2"><button>Submit</button></td>
                </tr>
                </table>        
        </form> <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

<%- include('../partials/footer.ejs')%>