<%- include('../partials/header.ejs')%>

    <div class="main">
        <h1>Join A Group!</h1>

        <form class="forms" action='/groups' method='POST'>
            <table>
                <tr>
                    <td><label for="name"><b>Group ID:</b></label></td>
                    <td><input type="text" id="id" name="id" class = "fixed-width" required></td>
                </tr>
                <tr>
                    <td><button>Join Group</button></td>
                </tr>
            </table>
        </form><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

<%- include('../partials/footer.ejs')%>