    <footer>
        <p>Copyright &copy; Sort It Out 2022</p>
        <a class="footerNav" href="/about">About</a>
        <a class="footerNav" href="/contact">Contact</a>
    </footer>
    
</body>
</html>