<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Home</title>
  </head>
  <body>
    <div class="topnav">
      <a href="/"><img class="logo" src="/images/logo.png" alt="Logo" /></a>
      <a href="/about" class="navlinks">About Us</a>
      <%if(!user) {%>
      <a href="/users/new" class="navlinks">Sign Up</a>
      <a href="/users/login" class="navlinks">Login</a>
      <%} else {%>
      <a href="/chores" class="navlinks">Chores</a>
      <a href="/groups" class="navlinks">Groups</a>
      <a href="/friends" class="navlinks">Friends</a>
      <a href="/users/profile" class="navlinks">Profile</a>
      <a href="/users/logout" class="navlinks">Logout</a>
      <h2 class="welcome">Welcome, <%=name%>!</h2>
      <%}%>
    </div>

    <% if(errorMessages.length > 0) { errorMessages.forEach(message=>{%>
    <div class="error"><%=message%></div>
    <%});%> <%}%> <% if(successMessages.length > 0) {
    successMessages.forEach(message=>{%>
    <div class="success"><%=message%></div>
    <%});%> <%}%>
  </body>
</html>
