<%- include('../partials/header.ejs')%>

    <div class="main">
        <h1>Friends</h1><br><br><br><br>
            <div class="search-friends">
            <form>
                <input type="text" placeholder="Add Friend..." name="friend-search">
                <button type="submit">Search</button>
            </form>
            </div>
            <br><br>
            <div class="friend-list">
                <h3>Work in progress</h3>
            </div>
        </h1><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

<%- include('../partials/footer.ejs')%>