<%- include('./partials/header.ejs')%>

    <div class="main">
        <h1>About Us</h1><br>
        <img src="/images/aboutUs.png" alt="cleaning" class="connectionImg">
        <h1 class="about">Sort It Out is a web app that encourages families, friends, and roommates to get organized together. 
            We aim to motivate people to do their tasks and take charge of their homes while getting rewarded. Our shared task
            lists keep everyone on top of their to do list!
        </h1><br><br><br><br><br><br><br><br>
    </div>

<%- include('./partials/footer.ejs')%>