<%- include('./partials/header.ejs')%>

    <div class="main">
        <h1>About Hoppin'</h1><br><br><br><br>
        <img src="/images/about.jpeg" alt="Bar picture" class="connectionImg">
        <h2 class="main">Hoppin' is the newest way for you to plan or find your future bar crawls with the ones you enjoy cracking a cold 
            one with. We believe that everyone should enjoy the best places to grab a drink in your area. 
            We are providing you with the resources to hop from bar to bar in the most enjoyable way possible. 
            Drink responsibly, and keep on hoppin'. <br><br><br><br><br>
            Hoppin' is a great way to get into your local company. We are commited to serving the local community.
        </h2>
    </div>

<%- include('./partials/footer.ejs')%>