<%- include('./partials/header.ejs')%>

    <div class="main">
        <h1>Contact Us</h1><br><br><br><br>
        <img src="/images/phone.jpeg" alt="Phone" class="connectionImg">
        <h2 class="main">Phone: 123-456-7890 <br><br>
            Email: sortItOut756@gmail.com <br><br>
            Let us know how we are doing!<br>Have questions? Call or email us today!
        </h2><br><br><br><br><br>
    </div>

<%- include('./partials/footer.ejs')%>