<%- include('./partials/header.ejs')%>

    <div class="main">
        <br><br><br><br><br><h3><%= error.status %> Error</h3> 
        <p><%= error.message %></p><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br>
    </div>

<%- include('./partials/footer.ejs')%>