.logo {
    float: left;
    width: 160px;
}

body {
    margin: 0;
}

.header {
    width: 100%;
    height: auto;
}

.topnav, .footerNav {
    font-family: "Didot";
    color: rgb(248,114,31);
    background-color: rgb(236,228,251);
    overflow: hidden;
}

.topnav a {
    float: left;
    color: rgb(248,114,31);
    text-align: center;
    padding: 14px, 16px;
    text-decoration: none;
    font-size: 28px;
}

.navlinks {
    padding: 70px;
}

.topnav a:hover {
    background-color: white;
    color: rgb(255,189,89);
}

.topnav a:active {
    background-color: rgb(255,145,77);
    color: white;
}

.welcome {
    float: right;
    padding-right: 40px;
    padding-top: 90px;
    color: rgb(248, 114, 31);
    font-size: 28px;
}

footer {
    font-family: "Didot";
    color: rgb(248,114,31);
    background-color: rgb(236,228,251);
    padding: 20px;
    padding-left: 65px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.footerNav {
    float: right;
    padding-right: 100px;
}

.footerNav a {
    color: rgb(248,114,31);
    text-align: center;
    padding: 14px, 16px;
    text-decoration: none;
    font-size: 24px;
    display: inline-block;
}

.footerlinks {
    padding: 20px;
}

footer a:hover {
    background-color: white;
    color: rgb(255,189,89);
}

.homePic {
    float: center;
    padding-top: 10px;
    width: 1750px;
}

h1 {
    font-family: "Didot";
    float: center;
    text-align: center;
}

h2.main {
    font-family: "Didot";
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.main {
    font-family: "Didot";
    background-color: whitesmoke;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 100px;
    color: rgb(255,145,77);
}

.about {
    font-family: "Didot";
    background-color: whitesmoke;
    padding-left: 300px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 200px;
    color: rgb(255,145,77);
}

h2.sub {
    padding-left: 100px;
}

ul.events {
    list-style-type: none;
    padding-left: 165px;
}

.homeText {
    text-align: center;
    padding-bottom: 20px;
}

a.events {
    text-decoration: none;
    display: block;
    color: rgb(255,189,89);
    display: block;
    text-align: left;
    padding: 14px 170px;
}

a.events:hover {
    text-decoration: underline;
}

img.connectionImg {
    float: left;
    width: 500px;
    padding: 50px;
    padding-left: 200px;
}

.groupsHeaders {
    font-size: 24px;
}

.forms {
    padding: 50px;
    padding-left: 200px;
    padding-right: 100px;
    font-size: 20px;
}

.groupForm {
    padding: 50px;
    float: right;
}

.signUp {
    padding-left: 50px;
}

label {
    padding-right: 15px;
}

.signupbutton {
    padding-top: 50px;
    padding-left: 350px;
}

.loginbuttons {
    padding-top: 50px;
}

.signUpImageLeft {
    float: left;
    width: 250px;
    padding: 50px;
    padding-left: 150px;
}

.signUpImageRight {
    float: right;
    width: 250px;
    padding: 50px;
    padding-right: 200px;
}

.profileImg {
    float: right;
    width: 400px;
    padding: 50px;
    margin-top: -50px;
    padding-right: 250px;
}

.groupsImg {
    width: 300px;
    margin-top: -300px;
    padding-left: 200px;
}

.login {
    padding-left: 300px;
}

.loginImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px
}

button {
    background-color: rgb(236,228,251);
    padding: 15px;
    border: none;
    color: rgb(248, 114, 31);
    box-shadow: none;
    font-family: "Didot";
    font-size: medium;
}

.shareImg {
    float: right;
    width: 40px;
    padding-top: 20px;
    padding-right: 1200px;
}

.fixed-width{
    width: 500px;
    padding: 10px;
}

input, textarea {
    font-family: "Didot";
}

.profile {
    font-size: 24px;
    width: 60%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.tableTitles {
    font-size: x-large;
    border: 2px solid rgb(255,145,77);
    background-color: rgb(236,228,251);
    color: rgb(248, 114, 31);
    padding: 5px;
    text-align: center;
}

.chores {
    border: 2px solid rgb(255,145,77);
    padding: 10px;
    text-align: center;
}

.choreImg {
    float: right;
    padding-right: 100px;
    margin-top: -75px;
}

.choresHeader {
    font-size: 34px;
    padding-left: 200px;
    text-decoration: underline;
}

.groups {
    border: 2px solid rgb(67, 29, 6);
    padding: 10px;
    text-align: center;
}

.joinGroup {
    padding-left: 1000px;
}

.joinGroup input {
    margin-right: 20px;
}

.createGroup {
    padding-left: 1550px;
}

.icon {
    width: 100px;
}

.groupHeader {
    font-size: 34px;
    padding-left: 150px;
    margin-top: -50px;
    text-decoration: underline;
}

.editGroup {
    text-align: center;
    padding-left: 500px;
}

.editGroup button {
    margin-top: 50px;
    margin-left: 80px;
}

.editHeader {
    float: center;
    text-align: center;
    font-size: 24px;
    color: rgb(248, 114, 31);
}

.choreForm {
    padding-left: 500px;
}

.choreForm button {
    margin-top: 50px;
    margin-left: 50px;
}

.leaderboardTitle {
    text-align: right;
    margin-top: -50px;
}

.link {
    text-decoration: none;
    display: block;
    color: rgb(255,189,89);
    display: block;
    text-align: left;
}

.link:hover {
    text-decoration: underline;
}

.success {
    background: rgba(238, 214, 77, 0.6);
    color: #fff;
    width: 100%;
    text-align: center;
    display: block;
    overflow: hidden;
    padding: 25px;
    font-size: large;
}

.error {
    background: rgba(255, 102, 51, 0.6);
    color: #fff;
    width: 100%;
    text-align: center;
    display: block;
    overflow: hidden;
    padding: 25px;
    font-size: large;
}
