<%- include('../partials/header.ejs')%>
<div class="main">
  <br><h1>Provide Your Email To Reset Your Password</h1><br /><br />
  <img src="/images/forgotPass.png" alt="reset password icon" class="signUpImageLeft" style="width: 350px; margin-left: -100px; margin-top: -50px;">
  <img src="/images/forgotPass.png" alt="reset password icon" class="signUpImageRight" style="width: 350px; margin-right: -100px; margin-top: -50px;">
  <p class="editHeader">Make sure to enter the email associated with your account!</p> 
  <p class="editHeader">Once the Submit button is clicked, check your email for a link to reset your password!</p> 
  <form
    class="forms editGroup"
    action="/users/forgotPassword"
    method="POST"
  >
    <table>
      <tr>
          <label for="email"><b>Enter Email:</b></label>
          <input
            type="email"
            id="email"
            name="email"
            class="fixed-width"
            required
          />
          <button>Submit</button>
        </td>
      </tr>
    </table>
  </form>
  <br /><br />
</div>
<%- include('../partials/footer.ejs')%>
