<%- include('../partials/header.ejs')%>
<div class="main">
  <h1>Reset Password</h1><br><br>
  <img src="/images/resetPass.png" alt="reset password icon" class="signUpImageLeft">
  <img src="/images/resetPass.png" alt="reset password icon" class="signUpImageRight">
  <p class="editHeader">If you need to reset your password, simply enter your current password and then your new password twice to confirm!</p> 
  <p class="editHeader">Don't forget to click the Submit button to save your changes!</p> 
  <form class="forms editGroup" action="/users/reset" method="POST">
    <table>
      <tr>
        <td>
          <label for="currentPW"><b>Current Password:</b></label>
        </td>
        <td>
          <input
            type="password"
            id="currentPW"
            name="currentPW"
            class="fixed-width"
            required
          />
        </td>
      </tr>
      <tr>
        <td>
          <label for="NewPW"><b>New Password:</b></label>
        </td>
        <td>
          <input
            type="password"
            id="NewPW"
            name="newPW"
            class="fixed-width"
            required
          />
        </td>
      </tr>
      <tr>
        <td>
          <label for="rNewPW"><b>Re-enter Password:</b></label>
        </td>
        <td>
          <input
            type="password"
            id="rNewPW"
            name="rNewPW"
            class="fixed-width"
            minlength="8"
            maxlength="64"
            required
          />
        </td>
      </tr>
      <tr>
        <td colspan="2"><button>Submit</button></td>
      </tr>
    </table>
  </form>
  <br /><br />
</div>
<%- include('../partials/footer.ejs')%>
